@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-color: black;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Define the animation for the zoom effect */
@keyframes zoom {
    0% {
        background-size: 100%;
    }
    50% {
        background-size: 110%;
    }
    100% {
        background-size: 110%;
    }
}

/* Apply the animation to the header */
header {
    background-image: url(./images/ayodhya-01.jp.jpg);
    background-size: cover;
    height: 700px;
    animation: zoom 10s; /* Adjust duration and other parameters as needed */
    animation-play-state: running;
}

/* Pause the animation after 5 seconds */
@keyframes pause {
    0% {
        animation-play-state: running;
    }
    50% {
        animation-play-state: paused;
    }
    100% {
        animation-play-state: paused;
    }
}

header:hover {
    animation: pause 10s forwards; /* Adjust the duration to match the zoom duration */
    /* filter: brightness(90%); Adjust brightness to darken on hover */
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 20px; /* Add left margin to prevent the logo from being in the full corner */
}

.nav_bar {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    letter-spacing: 0.5px;
    padding: 10px 10px;
}

.nav_bar a:after {
    content: "";
    position: absolute;
    background-color: yellow;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav_bar a:hover {
    color: black;
}

.nav_bar a:hover:after {
    width: 100%;
}

/* Remove hover effect for the logo */
.nav_bar .logo a:hover {
    color: white;
}

.nav_bar .logo a:hover:after {
    width: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

li a {
    text-decoration: none;
}

/* For button */
.my-btn-class {
    background-color: yellow;
    color: black;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    transition: scale 0.2 ease;
}

.my-btn-class:hover {
    scale: 1.05;
    background-color: #ffcc00;
}

.my-btn-class:active {
    scale: 0.95;
}

/* For the mobile query bars */
#toggle_btn .fa-bars {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

/* Hero section */
section#hero {
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#guest_house {
    color: #ffcc00;
}

/* Dropdown menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 90px;
    width: 300px;
    height: 0px;
    background: rgba(247, 255, 7, 0.049);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    overflow: hidden;
    color: black;
    text-align: center;
    z-index: 1000;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
    height: 378px;
}
.dropdown_menu ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.dropdown_menu li {
    padding: 15px 0;
    border-bottom: 1px solid white;
}
.dropdown_menu li a{
    color: black;
    font-size: 20px;
}

.button-box {
    position: absolute;
    top: calc(100% - 75px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: black;
    border-radius: 10px;
    z-index: 10;
}
/* Responsive Design */
@media (max-width: 970px){
    .nav_bar ul,
    #hide {
        display: none;
    }
    
    #toggle_btn .fa-bars {
        display: block; /* Show the toggle button */
        margin-left: 10px;
        margin-right: 30px;
    }
    section#hero{
        height: calc(100vh - 100px);
    }
    #hero h1{
      font-size: 3.5rem;
    }
    header {
        animation: none;
    }
    .nav_bar{
        height: 70px;
    }
    .dropdown_menu{
        display: block;
    }
    .button-box {
        top: calc(100% - -60px); /* Adjust position for smaller screens */
    }
    
}
@media (max-width: 660px){
    .nav_bar {
        background-color: yellow;
        height: 70px;
        color: #0c0c0c;
    }
    .dropdown_menu {
        width: 100%;
        right: 0;
        top: 70px;
    }
    section#hero{
        height: calc(100vh - 100px);
    }
    #hero h1{
      font-size: 2rem;
    }
    .button-box {
        width: 80%;
        height: 120px;
        top: calc(100% - -60px);
    }
}

@media (max-width: 420px){
    .nav_bar {
        background-color: yellow;
        height: 70px;
    }
    .dropdown_menu {
        width: 100%;
        right: 0;
        top: 70px;
    }
    section#hero {
        height: calc(100vh - 50px);
    }
    #hero h1 {
        font-size: 2.5rem;
    }
    .button-box {
        width: 90%;
        height: 100px;
        top: calc(100% - -60px);
    }
}
@media (max-width: 312px){
.nav_bar{
    background-color: yellow;
    height: 50px;
}
.dropdown_menu {
    width: 100%;
    right: 0;
    top: 70px;
}
section#hero {
    height: calc(100vh - 50px);
}
#hero h1 {
    font-size: 0.75rem;
}
.button-box {
    width: 100%;
    height: 80px;
    top: calc(100% - -40px); 
}
}
/* ------------About Us Section------------------------------ */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 90px;
  }
  
  /* Column Container Styling */
  .column-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure the columns don't wrap */
    max-width: 1200px; /* Adjust max-width to your needs */
    width: 100%; /* Full width of the parent */
    margin: 0 auto; /* Center the container */
    /* gap: x; Adds gap between columns */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
  }
  
  /* Column Styling */
  .column-1, .column-2 {
    flex: 1;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    /* flex-shrink: 0; /* Prevent columns from shrinking */
  } 
  
  .column-1 {
    max-width: 40%; /* Ensure the image and content are side by side */
  }
  
  .column-2 {
    max-width: 50%; /* Ensure the image and content are side by side */
  display: block;
  unicode-bidi: isolate;
  }
  
  /* Image Styling */
  .column-1 img {
    max-width: 100%;
    height: 100%;
  }
  
  /* About Us Heading Styling */
  .column-2 h3 {
    display: flex;
    align-items: center;
    font-size: 19px; /* Adjust as needed */
    margin-bottom: 20px;
    text-transform: uppercase; /* Optional: makes the text uppercase */
    color: #797979; /* Optional: sets the color of the About Us heading */
  }
  
  .column-2 .line {
    flex: 1;
    height: 4px;
    width: 10px;
    background-color: yellow; /* Pink color */
    margin-left: 10px; /* Space between text and line */
  }
  
  /* Heading Styling */
  .column-2 h2 {
    margin-bottom: 20px; /* Add space below the heading */
    font-size: 30px; /* Adjust as needed */
    font-weight: 5rem;
  }
  
  /* Paragraph Styling */
  .column-2 p {
    margin-bottom: 30px; /* Add space below the paragraph */
    line-height: 1.6; /* Improve readability */
    font-size: 18px; /* Adjust as needed */
  }
  
  /* Address Link Styling */
  .column-2 h4 {
    margin-bottom: 30px; /* Add space below the address */
  }
  
  .column-2 #maps {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline */
  }
  
  .column-2 #maps:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  
  /* Contact Link Styling */
  #Contact {
    margin-bottom: 10%; /* Add space below the contact section */
  }
  
  #Contact a {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline */
  }
  
  #Contact a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
 @media (max-width: 975px){
    .container{
        padding-top: 170px
    }
    .column-container {
       max-width: 1900px;
       height: 90%;
      }
 }
  @media (max-width: 770px) {
    .column-container {
      display: block;
      /* unicode-bidi: isolate; */
    }
    .column-1, .column-2 {
      max-width: 100%; /* Ensure both columns take full width */
    }
    .column-1 img {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 581px) {
    .column-container {
      display: block;
      text-align: center;
      align-items: center;
      /* unicode-bidi: isolate; */
    }
    .column-1, .column-2 {
      max-width: 100%; /* Ensure both columns take full width */
    }
  }
  @media (max-width: 420px){
    .column-1, .column-2 {
      max-width: 100%; /* Ensure both columns take full width */
    }
  }
  @media (max-width: 365px){
    .column-1, .column-2 {
      max-width: 100%; /* Ensure both columns take full width */
    }
  }
  /* ----------CARD SECTION-------------- */
  /* General Styles */
.container-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  padding: 0 20px;
  height: 100vh; /* Ensure the entire section fits in one screen */
  /* overflow: hidden; Prevent scrolling */
}

.heading-section {
  text-align: left; /* Align text to the left */
  width: 100%; /* Ensure it spans the full width */
  margin-bottom: 20px;
  position: relative;
}

.heading-section h2,
.heading-section h3 {
  margin-left: 60px; /* Left align the text */
}

.heading-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.heading-section h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.heading-section .line-head {
  height: 4px;
  width: 10px;
  background-color: yellow; /* Pink color */
  margin-left: 10px; /* Space between text and line */
}

.middle.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-basis: 45%; /* Adjust the size of the cards */
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure the button is at the bottom */
  text-align: left;
  background-color: #0c0c0c;
  color: #fff;
  width: 100%; /* Ensure both cards have the same width */
  height: 550px; /* Ensure both cards have the same height */
  max-width: 350px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-title {
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.my-btn-class.bottom {
  align-self: flex-end;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}
@media (max-width: 990px){
  .container-room{
    margin-top: 100px;
    height: auto; 
    padding-bottom: 10px;
  }
  .heading-section{
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .heading-section {
    margin-bottom: 0px;
    position: relative;
  }
  
  .heading-section h2,
  .heading-section h3 {
    margin-left: 10px; /* Left align the text */
  }
  
  .heading-section h2 {
    font-size: 2rem;
    /* margin-bottom: px; */
  }
  
  .heading-section h3 {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: px;
  }
  .middle.container {
    display: block;
    flex-direction: column;
    align-items: center;
  }
  .card-container {
    flex-basis: 100%; /* Cards take full width in column layout */
    margin-bottom: 50px;
  }
  .card {
    max-width: none; /* Remove max-width to allow full width */
  }
}
/* ----------Layout Section--------------- */
.image-container{
    background-image: url(./images/layout.jpg);
    background-size: cover;
    margin-top: 150px; 
    background-position: center;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.card-container-layout{
max-width: 2000px !important;
margin-right: 200px;
height: 550px;
background-color: #000;
box-shadow: #303134;
border-radius: 4px;
overflow: hidden;
}
.card-container-inner{
    padding: 16px;
    height: 400px;
}
.card-content{
    margin: 0;
    padding: 0;
    
}
.card-content h4{
  display: flex;
  align-items: left;
  font-size: 24px;
  font-weight: bold;
  color: white;
  position: relative;
}
.card-content h4::after {
  content: "";
  flex-grow: 1;
  height: 3px;
  background-color: yellow;
  margin-left: 10px;
  margin-top: 10px;
  padding-top:1px;
}

.card-content h3 {
    margin: 0 0 80px 0;
    font-size: 40px;
    font-weight: bold;
    color: yellow;
}

.card-content ul{
     list-style: none;
     padding: 0;
     display: block;
     flex-wrap: wrap;
     gap: 16px;
     margin-left: 20px;
}
.card-content li{
    display: block;
    align-items: center;
    margin-bottom: 40px;
    font-size: 20px;
    color: #666;
}
.icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
}
.card-content li:nth-child(1) .icon {
    color: #3498db;
    background-color: #eaf4fb;
  }
  
  .card-content li:nth-child(2) .icon {
    color: #e74c3c;
    background-color: #fdecec;
  }
  
  .card-content li:nth-child(3) .icon {
    color: #9b59b6;
    background-color: #f5eaf7;
  }
  
  .card-content li:nth-child(4) .icon {
    color: #e67e22;
    background-color: #fef1e6;
  }
 /* statics container */
 .stats-container{
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    flex-direction: row;
    width: 80%;
    max-width: 800px;
    background-color: black;
    padding: 20px 40px;
    margin: 60px auto 0;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 .stats-item{
    text-align: center;
 }
 .stats-item h4{
    font-size: 3rem;
    font-weight: 4px;
    color: #f0f0f0;
 }
 .stats-item p{
    font-size: 1rem;
    color: #ccc;
    margin-top: 8px;
 }
 .gallery-container {
  text-align: center;
  height: 100vh;
  padding: auto;
  margin-top: 50px;
}
.title-container {
display: flex;
align-items: center;
}
.title-container h1{
  margin: 0 20px;
  color: yellow;
  position: relative;
}
.title-container h1::after,
.title-container h1::before {
  content: "";
  flex-grow: 1;
  height: 3px;
  background-color: yellow;
 margin: 0 10px;
}
.img-gallery {
  display: grid; /* Use CSS Grid layout */
  grid-auto-flow: dense; /* Fill gaps in the grid layout for compact display */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Five equal-width columns */
  grid-auto-rows: 250px;
  grid-gap: 5px; /* Space between grid items */
}

.img-gallery .gallery-item {
  position: relative;
  overflow: hidden;
}

.img-gallery .gallery-item img {
  width: 100%; /* Make images responsive */
  height: 100%; /* Ensure images fill the grid area */
  object-fit: cover; /* Crop images to fit within their containers */
  cursor: pointer;
}

.img-gallery .gallery-item.a {
  grid-row: span 2;
}

.img-gallery .gallery-item.b,
.img-gallery .gallery-item.f,
.img-gallery .gallery-item.i {
  grid-column: span 2;
}
/* -------------------------let apply modal here-----------------------------* /

/* ------------------------------------------------------------------------- */
/* --------------------------contact form---------------------------------------- */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  margin-top: 7rem;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #303134;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  overflow: hidden;
  max-width: 56.25rem;
  width: 85%;
  margin: 1.25rem;
  height: auto;
}

.contact-info,
.contact-form {
  padding: 1.25rem;
}

.contact-info {
  background-color: yellow;
  color: #000 !important;
  flex: 1 1 18.75rem;
  text-decoration: none;
}

.contact-info h2 {
  margin-bottom: 1.25rem;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
}

.contact-info ul li span {
  margin-right: 0.625rem;
}

.contact-info ul li img {
  height: 1.875rem;
  width: 1.875rem;
}

.contact-info ul li a {
  margin-bottom: 0.625rem;
  color: #000;
}

.social-media {
  margin-top: 15.625rem;
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 0 1.25rem;
  justify-content: center;
  font-size: 26px;
  color: #000;
}

.contact-form {
  flex: 2 1 37.5rem;
  width: 80%;
}

.contact-form h2 {
  color: yellow;
  margin-bottom: 1.25rem;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  justify-content: space-between;
}

.input-container,
.textarea-container {
  position: relative;
  flex: 1 1 48%;
  margin-bottom: 0.9375rem;
}

.input-container label {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  color: white;
  pointer-events: none;
  transition: 0.3s ease;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -1.25rem;
  left: 0.625rem;
  color: yellow;
  font-size: 15px;
  font-weight: 30px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  flex: 1 1 48%;
  padding: 0.625rem;
  margin-bottom: 0.937rem;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0px;
  outline: none;
  background: none;
  color: white;
}

.textarea-container textarea {
  width: 100%;
  padding: 0.625rem;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background: none;
  color: white;
  resize: none;
  height: 8.75rem;
}

.textarea-container textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.textarea-container textarea:focus::placeholder,
.textarea-container textarea:not(:placeholder-shown)::placeholder {
  color: transparent;
}

button {
  background-color: yellow;
  color: black;
  border: none;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border-radius: 0.25rem; /* 4px */
  cursor: pointer;
}

button:hover {
  background-color: darkgoldenrod;
}
.form-group textarea {
  color: white;
  flex: 1 1 100%;
  padding: 10px;
  margin: 5px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 20px;
  outline: none;
  background: none;
  resize: none;
  height: 140px;
}

.form-group textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

button {
  background-color: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: darkgoldenrod;
}
/* For screens with a maximum width of 1200px */


@media(max-width: 1400px){
  .center-container {
    margin-top: 29rem;
  }
}
@media(max-width: 1015px){
  .center-container {
    margin-top: 45rem;
  }
}
@media(max-width: 1058px) and (min-width: 800px){
  .contact-info {
    flex: 1 1 18.75rem;
  }
}
@media (max-width: 768px) {
  .contact-container {
    flex-wrap: wrap; /* Switches to column layout */
    width: 90%;
    margin: 1.25rem auto; /* 20px auto */
    margin-top: 39rem;
  }

  .contact-info,
  .contact-form {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .form-group {
    flex-direction: column;
  }

  .input-container,
  .textarea-container {
    flex: 1 1 100%;
  }
}


footer {
  background-color: #111;
  color: #fff;
  padding: 40px 0;
  text-align: left;
  font-size: 14px;
  line-height: 1.6;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  display: block;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  min-width: 250px;
}

.footer-section p,
.footer-section a {
  color: #bbb;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-section a:hover {
  color: #fff;
}

.footer-section .socials {
  display: flex;
}

.footer-section .socials a {
  display: inline-block;
  color: #bbb;
  margin-right: 10px;
  font-size: 18px;
}

.footer-section .socials a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
}

.footer-bottom p {
  margin: 10px;
}
