@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden; /* Prevent horizontal overflow */
  background-color: black;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling while loader is visible */
}


  /* ----------CARD SECTION-------------- */
  /* General Styles */
  .container-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4.375rem; /* 70px converted to rem */
    padding: 0 1.25rem; /* 20px converted to rem */
    height: 100vh; /* Ensure the entire section fits in one screen */
  }
  
  .heading-section {
    text-align: left; /* Align text to the left */
    width: 100%; 
    margin-bottom: 1.25rem; 
    position: relative;
  }
  
  .heading-section h2,
  .heading-section h3 {
    margin-left: 3.75rem; 
  }
  
  .heading-section h2 {
    font-size: 2rem;
    margin-bottom: 0.625rem;
  }
  
  .heading-section h3 {
    font-size: 1.3rem;
    margin-bottom: 0.625rem; 
    position: relative;
    color:  #797979;;
  }
  
  .heading-section h3::before {
    content: "";
    height: 0.25rem; /* 4px converted to rem */
    width: 70vw;
    max-width: auto;
    background-color: yellow; 
    margin-left: 12.4rem; /* Space between text and line */
    position: absolute;
    top: 55%;
    left: 0;
  }
  
  .middle.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem; /* 20px converted to rem */
    width: 100%;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    flex-basis: 45%; /* Adjust the size of the cards */
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure the button is at the bottom */
    text-align: left;
    background-color: #0c0c0c;
    color: #fff;
    width: 100%; /* Ensure both cards have the same width */
    height: 34.375rem; /* 550px converted to rem */
    max-width: 21.875rem; /* 350px converted to rem */
    border: none;
    border-radius: 0.3125rem; /* 5px converted to rem */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 0 4px 8px converted to rem */
    position: relative;
  }
  
  .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16rem;
  }
  
  .card-title {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .card-text p{
    margin-bottom: 90rem;
  }
  
  .my-btn-class.bottom {
    align-self: flex-end;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    position: absolute;
    bottom: 0;
    margin-top: 10rem;
  }
  #card-button{
    align-self: flex-end !important;
  }
  @media (max-width: 990px) {
    .container-room {
      margin-top: 6.25rem; /* 100px converted to rem */
      height: auto;
      padding-bottom: 0.625rem; /* 10px converted to rem */
    }
    .heading-section {
      margin-bottom: 0.3125rem; /* 5px converted to rem */
    }
    .heading-section h3::before {
      content: "";
      height: 0.25rem; /* 4px converted to rem */
      width: 61vw;
      max-width: auto;
    }
  }
  
  @media (max-width: 770px) {
    .container-room {
      padding:  0 0.625rem; /* 10px converted to rem */
    }
  
    .heading-section {
      
      position: relative;
    }
  
    .heading-section h2,
    .heading-section h3 {
      margin-left: 0.625rem; /* 10px converted to rem */
    }
  
    .heading-section h2 {
      font-size: 2rem;
    }
  
    .heading-section h3 {
      font-size: 1.25rem;
      margin-top: 0.625rem; /* 10px converted to rem */
      margin-bottom: 0;
    }
  
    .middle.container {
      display: block;
      flex-direction: column;
      align-items: center;
     
    }
  
    .card-container {
      flex-basis: 100%; /* Cards take full width in column layout */
      margin-bottom: 4.125rem; /* 50px converted to rem */
    }
  
    .card {
      max-width: none; /* Remove max-width to allow full width */
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    }
    .heading-section h3::before {
      content: "";
      height: 0.25rem; /* 4px converted to rem */
      width: 60vw;
    }
    
  
  }
 @media(max-width: 580px){
  .heading-section h2 {
    font-size: 1.654rem;
    margin-bottom: 0.625rem; /* 10px converted to rem */
  }
  
  .heading-section h3 {
    font-size: 1rem;
    position: relative;
    color:  #797979;
    margin-bottom: 1.5rem;
  }
  
  .heading-section h3::before {
    content: "";
    height: 0.25rem; /* 4px converted to rem */
    width: 50vw;
    max-width: auto;
    background-color: yellow; /* Pink color */
    margin-left: 10rem; /* Space between text and line */
    position: absolute;
    top: 55%;
    left: 0;
  }
  .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 20rem;
  }
 
 }

 @media(max-width: 440px){
  .heading-section h2 {
    font-size: 1.356rem;
    margin-bottom: 0.625rem; /* 10px converted to rem */
  }
  
  .heading-section h3 {
    font-size: 0.976rem;
    position: relative;
    color:  #797979;
    margin-bottom: 1.5rem;
  }
  
  .heading-section h3::before {
    content: "";
    height: 0.25rem; /* 4px converted to rem */
    width: 40vw;
    max-width: auto;
    background-color: yellow; /* Pink color */
    margin-left: 10rem; /* Space between text and line */
    position: absolute;
    top: 55%;
    left: 0;
  }
  .card-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 22rem;
  }
  .card-title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
 }
 @media(max-width: 400px){
  
 }
 /*services */
.image-container {
  background-image: url(./images/layout.jpg);
  background-size: cover;
  margin-top: 9.375rem; /* 150px converted to rem assuming the base font-size is 16px */
  background-position: center;
  width: 100%;
  height: 34.375rem; /* 550px converted to rem */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card-container-layout {
  max-width: 125rem !important; /* 2000px converted to rem */
  margin-right: 12.5rem; /* 200px converted to rem */
  height: 34.375rem; /* 550px converted to rem */
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem; /* 4px converted to rem */
  overflow: hidden;
}

.card-container-inner {
  padding: 1rem; /* 16px converted to rem */
  height: 25rem; /* 400px converted to rem */
}

.card-content {
  margin: 0;
  padding: 0;
}

.card-content h4 {
  display: flex;
  align-items: left;
  font-size: 1.5rem; /* 24px converted to rem */
  font-weight: bold;
  color: white;
  position: relative;
}

.card-content h4::after {
  content: "";
  flex-grow: 1;
  height: 0.1875rem; /* 3px converted to rem */
  background-color: yellow;
  margin-left: 0.625rem; /* 10px converted to rem */
  margin-top: 0.625rem; /* 10px converted to rem */
  padding-top: 0.0625rem; /* 1px converted to rem */
}

.card-content h3 {
  margin: 0 0 3rem 0; /* 80px converted to rem */
  font-size: 2.5rem; /* 40px converted to rem */
  font-weight: bold;
  color: yellow;
}

.card-content ul {
  list-style: none;
  padding: 0;
  display: block;
  flex-wrap: wrap;
  gap: 0.965rem; /* 16px converted to rem */
  margin-left: 1.25rem; /* 20px converted to rem */
}

.card-content li {
  display: block;
  align-items: center;
  margin-bottom: 2.5rem; /* 40px converted to rem */
  font-size: 1.25rem; /* 20px converted to rem */
  color: white;
  font-weight: bold;
}

.icon {
  display: inline-block;
  width: 2.5rem; /* 40px converted to rem */
  height: 2.5rem; /* 40px converted to rem */
  margin-right: 0.9375rem; /* 15px converted to rem */
  font-size: 1.5rem; /* 24px converted to rem */
  text-align: center;
  line-height: 2.5rem; /* 40px converted to rem */
  border-radius: 50%;
  background-color: #f0f0f0;
}

.card-content li:nth-child(1) .icon {
  color: #3498db;
  background-color: #eaf4fb;
}

.card-content li:nth-child(2) .icon {
  color: #e74c3c;
  background-color: #fdecec;
}

.card-content li:nth-child(3) .icon {
  color: #9b59b6;
  background-color: #f5eaf7;
}

.card-content li:nth-child(4) .icon {
  color: #e67e22;
  background-color: #fef1e6;
}

@media (max-width: 40.3125rem) { /* 645px converted to rem */
  .card-container-layout {
      max-width: 80%;
      margin-right: 0;
      background-color: rgba(0, 0, 0, 0.5);
  }
  .card-content h3 {
      font-size: 2.1rem; /* 35px converted to rem */
      font-weight: bold;
      color: yellow;
  }
  .card-content h4 {
      font-size: 1.125rem; /* 18px converted to rem */
      font-weight: bold;
      color: white;
      position: relative;
  }
  .card-content li {
    margin-bottom: 2.5rem; /* 40px converted to rem */
    font-size: 1.25rem; /* 20px converted to rem */
  }
  
}

@media (max-width: 34.375rem) { /* 550px converted to rem */
  .card-container-layout {
      width: 100%;
  }
}
@media(max-width: 360px){
  .card-container-layout {
    max-width: 100%;
    margin-right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.card-content h3 {
    font-size: 1.5rem; /* 35px converted to rem */
    font-weight: bold;
    color: yellow;
}
.card-content h4 {
    font-size: 1rem; /* 18px converted to rem */
    font-weight: bold;
    color:  #797979;
    position: relative;
}
.card-content li {
  margin-bottom: 2.rem; /* 40px converted to rem */
  font-size: 0.9rem; /* 20px converted to rem */
}
}
 .stats-container{
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    flex-direction: row;
    width: 80%;
    max-width: 800px;
    background-color: black;
    padding: 20px 40px;
    margin: 60px auto 0;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 .stats-item{
    text-align: center;
 }
 .stats-item h4{
    font-size: 3rem;
    font-weight: 4px;
    color: #f0f0f0;
 }
 .stats-item p{
    font-size: 1rem;
    color: yellow;
    margin-top: 8px;
 }
 @media(max-width: 525px){
  .stats-item h4{
    display: block;
    align-items: center;
    font-size: 2rem;
    font-weight: 4px;
 }

 .stats-container {
  flex-direction: column;
}
 }
 @media(max-width: 340px){
  .stats-item h4{
    font-size: 1rem;
    font-weight: 1px;
 }
 }

 /* ---------------------gallery------------------------------ */
 .gallery-container {
  text-align: center;
  padding: auto;
  margin-top: 50px;
}
.title-container {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin-bottom: 40px;
}
.title-container h1{
font-size: 40px;
font-weight: 80px;
  text-align: center;
  color:  #797979;
  position: relative;
}
.title-container h1::after{
  content: "";
  height: 4px;
  width: 35vw;
  max-width: auto;
  background-color: yellow; /* Pink color */
  margin-left: 12rem; /* Space between text and line */
  position: absolute;
  top: 55%;
  left: 0;
}
.title-container h1::before{
  content: "";
  height: 4px;
  width: 35vw;
  max-width: auto;
  background-color: yellow; /* Pink color */
  margin-right: 12rem; /* Space between text and line */
  position: absolute;
  top: 55%;
  right: 0;
}
.img-gallery {
  display: grid; /* Use CSS Grid layout */
  grid-auto-flow: dense; /* Fill gaps in the grid layout for compact display */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Five equal-width columns */
  grid-auto-rows: 250px;
  grid-gap: 5px; /* Space between grid items */
}

.img-gallery .gallery-item {
  position: relative;
  overflow: hidden;
}

.img-gallery .gallery-item img {
  width: 100%; /* Make images responsive */
  height: 100%; /* Ensure images fill the grid area */
  object-fit: cover; /* Crop images to fit within their containers */
  cursor: pointer;
}

.img-gallery .gallery-item.a {
  grid-row: span 2;
}

.img-gallery .gallery-item.b,
.img-gallery .gallery-item.f,
.img-gallery .gallery-item.i {
  grid-column: span 2;
}
@media(max-width: 800px){
  .title-container h1{
    font-size: 30px;
    }
    .title-container h1::after{
      content: "";
      height: 4px;
      width: 35vw;
      max-width: auto;
      background-color: yellow; /* Pink color */
      margin-left: 9rem; /* Space between text and line */
      position: absolute;
      top: 55%;
      left: 0;
    }
    .title-container h1::before{
      content: "";
      height: 4px;
      width: 35vw;
      max-width: auto;
      background-color: yellow; /* Pink color */
      margin-right: 9rem; /* Space between text and line */
    }
}
@media(max-width: 560px){
  .title-container h1{
    font-size: 25px;
    }
    .title-container h1::after{
      content: "";
      height: 4px;
      width: 30vw;
      max-width: auto;
      background-color: yellow; /* Pink color */
      margin-left: 8rem; /* Space between text and line */
      position: absolute;
      top: 55%;
      left: 0;
    }
    .title-container h1::before{
      content: "";
      height: 4px;
      width: 30vw;
      max-width: auto;
      background-color: yellow; /* Pink color */
      margin-right: 8rem; /* Space between text and line */
    }
}
@media(max-width: 381px){
  .title-container h1{
    font-size: 20px;
    }
    .title-container h1::after{
      content: "";
      height: 4px;
      width: 20vw;
      max-width: auto;
      background-color: yellow; /* Pink color */
      margin-left: 6.5rem; /* Space between text and line */
      position: absolute;
      top: 55%;
      left: 0;
    }
    .title-container h1::before{
      content: "";
      height: 4px;
      width: 20vw;
      max-width: auto;
      background-color: yellow; /* Pink color */
      margin-right: 6.5rem; /* Space between text and line */
    }
}

/* --------------------------contact form---------------------------------------- */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  margin-top: 7rem;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  background-color:  #0c0c0c;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  overflow: hidden;
  max-width: 56.25rem;
  width: 85%;
  margin: 1.25rem;
  height: auto;
}

.contact-info,
.contact-form {
  padding: 1.25rem;
}

.contact-info {
  background-color: yellow;
  color: #000 !important;
  flex: 1 1 18.75rem;
  text-decoration: none;
}

.contact-info h2 {
  margin-bottom: 1.25rem;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.9375rem;
}

.contact-info ul li span {
  margin-right: 0.625rem;
}

.contact-info ul li img {
  height: 1.875rem;
  width: 1.875rem;
}

.contact-info ul li a {
  margin-bottom: 0.625rem;
  color: #000;
}

.social-media {
  margin-top: 15.625rem;
  display: flex;
  justify-content: center;
}

.social-media a {
  margin: 0 1.25rem;
  justify-content: center;
  font-size: 26px;
  color: #000;
}

.contact-form {
  flex: 2 1 37.5rem;
  width: 80%;
}

.contact-form h2 {
  color: yellow;
  margin-bottom: 1.25rem;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  justify-content: space-between;
}

.input-container,
.textarea-container {
  position: relative;
  flex: 1 1 48%;
  margin-bottom: 0.9375rem;
}

.input-container label {
  position: absolute;
  top: 0.625rem;
  left: 0.625rem;
  color: white;
  pointer-events: none;
  transition: 0.3s ease;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -1.25rem;
  left: 0.625rem;
  color: yellow;
  font-size: 15px;
  font-weight: 30px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  flex: 1 1 48%;
  padding: 0.625rem;
  margin-bottom: 0.937rem;
  border: none;
  border-bottom: 2px solid white;
  border-radius: 0px;
  outline: none;
  background:  #0c0c0c;
  color: white;
}

.textarea-container textarea {
  width: 100%;
  padding: 0.625rem;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background: none;
  color: white;
  resize: none;
  height: 8.75rem;
}

.textarea-container textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.textarea-container textarea:focus::placeholder,
.textarea-container textarea:not(:placeholder-shown)::placeholder {
  color: transparent;
}

button {
  background-color: yellow;
  color: black;
  border: none;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border-radius: 0.25rem; /* 4px */
  cursor: pointer;
}

button:hover {
  background-color: darkgoldenrod;
}
.form-group textarea {
  color: white;
  flex: 1 1 100%;
  padding: 10px;
  margin: 5px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background: none;
  resize: none;
  height: 140px;
}

.form-group textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

button {
  background-color: yellow;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: darkgoldenrod;
}
/* For screens with a maximum width of 1200px */


@media(max-width: 1400px){
  .center-container {
    margin-top: 15rem;
    width: auto;
    max-width: 100%;
  }
}
@media(max-width: 1060px){
  .contact-container {
    flex-wrap: wrap; /* Switches to column layout */
    width: 90%;
    margin: 1.25rem auto; /* 20px auto */
    margin-top: 1rem;
  }

  .contact-info,
  .contact-form {
    flex: 1 1 50%;
    max-width: 100%;
  }

  .form-group {
    flex-direction: column;
  }
  .form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  min-height: 0.95rem;
  width: 90%;
  padding: 0.625rem;
  margin-bottom: 0.937rem;
  outline: none;
  color: white;
}
}
@media (max-width: 768px) {
  .contact-container {
    flex-wrap: wrap; /* Switches to column layout */
    width: 90%;
    margin: 1.25rem auto; /* 20px auto */
    max-height: auto;
  }

  .contact-info,
  .contact-form {
    flex: 1 1 50%;
    max-width: 100%;
  }

  .form-group {
    flex-direction: column;
  }

  .input-container,
  .textarea-container {
    flex: 1 1 100%;
  }
}
@media (max-width: 674px) {
  .contact-container {
    flex-wrap: wrap; /* Switches to column layout */
    width: 90%;
  }

  .contact-info,
  .contact-form {
    flex: 1 1 50%;
    max-width: 100%;
  }

  .form-group {
    flex-direction: column;
  }

  .input-container,
  .textarea-container {
    flex: 1 1 100%;
  }
  .form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  min-height: 0.95rem;
  width: 90%;
  padding: 0.625rem;
  margin-bottom: 0.937rem;
  outline: none;
  color: white;
}
.contact-info ul li {

  margin-bottom: 0.9375rem;
}
.social-media {
  margin-top: 1rem;

}
.input-container,
.textarea-container {
  position: relative;
  margin-bottom: 0.5rem;
}
}


footer {
  background-color: #111;
  color: #fff;
  padding: 2.5rem 0;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.6;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 75rem;
  margin: auto;
}

.footer-section {
  display: block;
  flex-direction: column;
  flex: 1;
  padding: 1.25rem; /* 20px */
  min-width: 14.625rem; /* 250px */
}

.footer-section p,
.footer-section a {
  color: #bbb;
  margin-bottom: 0.625rem;
  text-decoration: none;
}

.footer-section a:hover {
  color: #fff;
}
.footer-section h3 {
  margin-bottom: 1.25rem; 
}
.footer-section ul {
  list-style-type: none;
  padding: 0;
}
.footer-section ul li {
  margin-bottom: 1.25rem;
}
.social-media {
  display: flex;
}
.social-media a {
  display: inline-block;
  margin-right: 0.625rem;
}
.social-media a img {
  width: 1.5rem;
  height: 1.5rem;
}
.social-media a .fab {
  font-size: 1.5rem;
  color: #bbb;
}
.social-media a:hover .fab {
  color: #fff;
}
.footer-bottom p {
  margin: 0.625rem;
  align-items: center;
  text-align: center;
}
@media (max-width: 768px) { /* 768px */
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}